header
    #date.date
    #account-icon
        img(src='./gui/img/User.jpg' alt='User Icon')
        span#account-username-display Welcome, User
        #logout
            span(onclick='window.location.reload()') Logout
