mixin tabbedFrame(tabs, ids)
    ul
        each val, index in tabs ? tabs : []
            li.tab
                button(onclick="tabSwitcher(this)" data-for=ids[index] class=(index === 0) ? "active":"")= val
