include GenericDashboard
include TabSwitcher

#AdminView(hidden='')
    +GenericDashboard()
        +LeftPane()
            +tabbedFrame(['Courses', 'Teachers', 'Students'])
            .tab-switcher
                .view.active(id='Courses')
                    ul(id='globalCourseList')
                        li Empty
                        li Empty
                        li Empty
                        li Empty
                        li Empty
                        li Empty
                        li Empty
                        li Empty
                        li Empty
                        li Empty
        +MainPane()
            +tabbedFrame([])
            .tab-switcher
                .view.active(id='CourseEditor')
                    h1 Course Editor
                    h2(id='courseName') Course Name
                    #CourseEditorTeacher
                        h3 Teacher:
                        h3(id='teacherNameAdmin') Teacher Name
                        button(id='teacherNameEdit') Edit
                    #CourseEditorStudents
                        h3 Students
                        button(id='adminStudentsEdit') Edit
                        table
                            tr
                                th Last Name
                                th First Name
                                th Student ID
                        #CourseEditorStudentsBox
                            table
                                tr
                                    td Empty
                                    td Empty
                                    td Empty
                                tr
                                    td Empty
                                    td Empty
                                    td Empty
                                tr
                                    td Empty
                                    td Empty
                                    td Empty
                                tr
                                    td Empty
                                    td Empty
                                    td Empty
                                tr
                                    td Empty
                                    td Empty
                                    td Empty
                                tr
                                    td Empty
                                    td Empty
                                    td Empty
                                tr
                                    td Empty
                                    td Empty
                                    td Empty
                                tr
                                    td Empty
                                    td Empty
                                    td Empty
                                tr
                                    td Empty
                                    td Empty
                                    td Empty
                                tr
                                    td Empty
                                    td Empty
                                    td Empty
                                tr
                                    td Empty
                                    td Empty
                                    td Empty
