include helpers/GenericDashboard
include helpers/TabSwitcher
include helpers/ScrolledTable

#AdminView(hidden='')
    +GenericDashboard()
        +LeftPane()
            .tab-switcher
                +tabbedFrame(['Courses', 'Teachers', 'Students'], ['AdminCoursesListView', 'AdminTeachersList', 'AdminStudentsList'])
                .view.active(id="AdminCoursesListView")
                    #AdminCoursesList
                        include helpers/ListView
                .view(id="AdminTeachersList")
                    include helpers/ListView
                .view(id="AdminStudentsList")
                    include helpers/ListView
        +MainPane()
            #AdminCourseViews(hidden)
                include AdminCourseViews
            #AdminStudentViews(hidden)
                include AdminCourseViews
            #AdminTeacherViews(hidden)
                include AdminCourseViews

