include ScrolledTable

+ScrolledTableBox('Students', 'adminStudentsEdit', ['Last Name', 'First Name', 'Student ID'], [['asd', 'asad', 'asd'], ['Empty', 'Empty', 'Empty'], ['Empty', 'Empty', 'Empty'],
    ['123', '123', '123'], ['Empty', 'Empty', 'Empty'], ['Empty', 'Empty', 'Empty'],
    ['Empty', 'Empty', 'Empty'], ['Empty', 'Empty', 'Empty'], ['Empty', 'Empty', 'Empty'],
    ['Empty', 'Empty', 'Empty']])