include helpers/GenericDashboard
include helpers/TabSwitcher
include helpers/ScrolledTable

#AdminView(hidden='')
    +GenericDashboard()
        +LeftPane()
            .tab-switcher
                +tabbedFrame(['Courses', 'Teachers', 'Students'], ['AdminCoursesListView', 'AdminTeachersList', 'AdminStudentsList'])
                .view.active(id="AdminCoursesListView")
                    #AdminCoursesList
                        include helpers/ListView
                .view(id="AdminTeachersList")
                    include helpers/ListView
                .view(id="AdminStudentsList")
                    include helpers/ListView
        +MainPane()
            .tab-switcher
                +tabbedFrame(['Course View', 'New Course', 'Edit Course'], ['CourseView', "NewCoursePage", "CourseEditorPage"])
                .view.active(id='CourseView')
                    h1 View Course
                    h2 Course Name
                    h3 Grade
                    h4 Undefined
                    #CourseViewTeacher
                        h3 Teacher:
                        h4 Teacher Name
                    #CourseViewStudents
                        include ViewStudentsScrollTable
                .view(id='NewCoursePage')
                    h1 New Course
                    h3
                        | Name
                        sup(style='color: red') *
                        | :
                    input(type='text' id='newCourseName' placeholder="Course Name" oninput='validateInput(' +
                    'newCourseName.value, newCourseGrade.value, newCourseTeacherUserName.value)')
                    h3
                        | Grade
                        sup(style='color: red') *
                        | :
                    input(type='number' id='newCourseGrade' placeholder="1" oninput='validateInput(' +
                    'newCourseName.value, newCourseGrade.value, newCourseTeacherUserName.value)')
                    h3
                        | Teacher
                        sup(style='color: red') *
                        | :
                    input(type='text' id='newCourseTeacherUserName' placeholder="Teacher Name" oninput='validateInput('+
                    'newCourseName.value, newCourseGrade.value, newCourseTeacherUserName.value)')
                    br
                    br
                    button(id='adminSaveNewCourse' onclick='saveNewCourse()' disabled) Save Course
                    br
                    h4(id='teacherError' style='color: red' hidden=true) Error: Teacher not found!
                    h4(id='newCourseError' style='color: red' hidden=true) Error: Course already exists!
                    #NewCourseStudents
                        include ViewStudentsScrollTable
                        button(id='adminAddStudent') Add Student
                .view(id='CourseEditorPage')
                    h1 Course Editor
                    input(type='text' id='editCourseName' value="Course Name")
                    button(id='adminSaveCourseName') Save
                    h3 Grade
                    input(type='number' id='editCourseGrade' value="Course Grade")
                    button(id='adminSaveCourseGrade') Save
                    #CourseEditorTeacher
                        h3 Teacher:
                        input(type='text' id='editCourseTeacherName' value="Teacher Name")
                        button(id='adminSaveCourseTeacherName') Save
                    #CourseEditorStudents
                        include ViewStudentsScrollTable
                        button(id='adminAddStudentEditCourse') Add Student

