mixin AssignmentsList()
    .assignmentsList(onload="populateAssignments()")
        ul
            li
                .assignment
                    .assignTitle Assignment 1
                    .assignDate 10/01/13 10:30 PM
                    .assignDescription This is the first assignment. It is a practice assignment worth only 1 point.

