mixin course-search(hide)
    #search-results(hidden=hide)
        button.accordion Period 1 Students: 25
        .panel
        button.accordion Period 2 Students: 22
        .panel
        button.accordion Period 3 Students: 24
        .panel
        button.accordion Period 4 Students: 26
        .panel
        button.accordion Period 5 Students: 24
        .panel
        button.accordion Period 6 Students: 23
        .panel
