.createAssignMenu
    label(for="createAssignName") Assignment Name:
    input(id="createAssignName")
    select(id="createAssignCourseSelect")
    button(id="createAssignAddQuestion") Add Question
    button(id="createAssignSubmit") Create Assignment
ul(class="questionList")
    li(class="question")
        label Q
        textarea
