mixin ScrolledTableBox(title, editButtonId, columnNames, rows)
    .ScrolledTableBox
        h3= title
        button(id= editButtonId) Edit
        table
            tr(class="ScrolledTableColumns")
                each name in columnNames
                    th= name
        .ScrollingBox
            table
                each row in rows? rows : []
                    tr
                        each val in row ? row : []
                            td= val
                        td.role-cell
                            select.change-role
                                option(value='teacher') Teacher
                                option(value='admin') Admin
                                option(value='student' selected='') Student
