include nodes
include NodeSearch
include TabSwitcher

#studentView(hidden='')
    include header
    +node-search
    //-
        .tab-switcher
            ul
                li.tab
                    button Upcoming Assignments
                li.tab
                    button Practice Equations
                li.tab
                    button View Grades
    +tabbedFrame(['Upcoming Assignments','Practice Equations', 'View Grades'], [practice, grades])
    .tab-switcher
        .view.active(id='Practice Equations')
            #editorPane.paper(ondrop='dropNode(event)' ondragover='allowDroppingNode(event)')
            #resultPane(hidden='')
        .view(id='View Grades')

    #Assignments.view

