include nodes
include NodeSearch
include TabSwitcher
include AssignmentsList
include GenericDashboard

#studentView(hidden='')
    +GenericDashboard
        +LeftPane
            +node-search
        +MainPane
            .tab-switcher
                +tabbedFrame(['Upcoming Assignments','Practice Equations', 'View Grades'], [practice, grades])
                .view.active(id='Practice Equations')
                    #editorPane.paper(ondrop='dropNode(event)' ondragover='allowDroppingNode(event)')
                    #resultPane(hidden='')
                .view(id='View Grades')

            #Assignments.view

