include nodes
include NodeSearch
include helpers/TabSwitcher
include helpers/GenericDashboard

#studentView(hidden='')
    +GenericDashboard
        +LeftPane
            +node-search
        +MainPane
            .tab-switcher
                +tabbedFrame(['Practice Equations', 'Assignments', 'View Grades'], ['practice', 'assignment_tab', 'grades'])
                .view.active(id='practice')
                    #editorPane.paper(ondrop='dropNode(event)' ondragover='allowDroppingNode(event)')
                    #resultPane(hidden='')
                .view(id='grades')
                    div(id="assignment_grades")
                .view(id="assignment_tab")
                    .assignmentsList
                        ul
