mixin student-search(hide)
    #search-results(hidden=hide)
        button.accordion Elon, Musk
        .panel
        button.accordion Jones, Alex
        .panel
        button.accordion Gates, Bill
        .panel
        button.accordion Tron, Jon
        .panel
        button.accordion Gary, Kevin
        .panel
