.studentSubmissionPane
    button#submitAssignmentButton(onclick="submitAssignment()") Submit
    p#couldNotSubmit(hidden) Please complete the assignment before submitting
    each question, index in questions
        .problem
            .submissionQuestion
                span= question
            .solution
                .paper(id=`editorPane${index}`, ondrop='dropNode(event)' ondragover='allowDroppingNode(event)')
