include nodes
include NodeSearch
include TabSwitcher
include AssignmentsList
include GenericDashboard

#studentView(hidden='')
    +GenericDashboard
        +LeftPane
            +node-search
        +MainPane
            .tab-switcher
                +tabbedFrame(['Assignments', 'Practice', 'Grades'])
                .view.active(id='Practice')
                    #editorPane.paper(ondrop='dropNode(event)' ondragover='allowDroppingNode(event)')
                    #resultPane(hidden='')
                .view(id='Grades')
                .view(id='Assignments')
                    +AssignmentsList()

