include nodes
include NodeSearch
include TabSwitcher
include AssignmentsList

#studentView(hidden='')
    include header
    +node-search
    .tab-switcher
        +tabbedFrame(['Upcoming Assignments','Practice Equations', 'View Grades'], [practice, grades])
        .view.active(id='Practice Equations')
            #editorPane.paper(ondrop='dropNode(event)' ondragover='allowDroppingNode(event)')
            #resultPane(hidden='')
        .view(id='View Grades')

    #Assignments.view

