include nodes
include NodeSearch
include TabSwitcher
include AssignmentsList

#studentView(hidden='')
    include header
    +node-search
    //-
        .tab-switcher
            ul
                li.tab
                    button Upcoming Assignments
                li.tab
                    button Practice Equations
                li.tab
                    button View Grades
    .tab-switcher
        +tabbedFrame(['UpcomingAssignments','PracticeEquations', 'ViewGrades'], [practice, grades])
        .view.active(id='PracticeEquations')
            #editorPane.paper(ondrop='dropNode(event)' ondragover='allowDroppingNode(event)')
            #resultPane(hidden='')
        .view(id='ViewGrades')
        .view(id='UpcomingAssignments')
            +AssignmentsList()

