include GenericDashboard
include TabSwitcher
include studentSearch

#TeacherView(hidden='')
    +GenericDashboard()
        +LeftPane()
            .tab-switcher
                +tabbedFrame(['Courses', 'Students'], [courses, students])
            +student-search
        +MainPane()
            .tab-switcher
                +tabbedFrame(['Students', 'Assignments'], [courseStudents, assignments])
                .view.active(id='View Students')
                    table(id='studentList')
                        tr
                            th Last
                            th First
                        tr.selected
                            td Musk
                            td Elon
                        tr
                            td Jones
                            td Alex
                .view(id='View Assignments')
