include helpers/GenericDashboard
include helpers/TabSwitcher
include studentSearch
include courseSearch
include helpers/ScrolledTable

#TeacherView(hidden='')
    +GenericDashboard()
        +LeftPane()
            #search-settings
                input(type='search')
                span.radioGroup
                    input#search-current(type='radio' name='search-where' value='Search courses')
                    label(for='search-current') Search Courses
                span.radioGroup
                    input#search-all(type='radio' name='search-where' value='Search students')
                    label(for='search-all') Search Students
            .tab-switcher
                +tabbedFrame(['Courses', 'Students'], ['teacherCourses', 'teacherStudents'])
                .view.active(id="teacherCourses")
                    include helpers/ListView
                .view(id="teacherStudents")
                    include helpers/ListView
        +MainPane()
            .tab-switcher
                +tabbedFrame(['Students', 'Assignments', 'Submissions', 'Create Assignment'], ['courseStudents', 'courseAssignments', 'teacherSubmissions', 'createAssignment'])
            .view.active(id='courseStudents')
              //  include ViewStudentsScrollTable
            .view(id='courseAssignments')

            .view(id="createAssignment")
                include CreateAssignment

            .view(id="teacherSubmissions")
