.assignmentsList {
    background: #f5f5f5;
    margin: 10px;
    height: calc(100% - 10px);
    padding: 10px;
    font-weight: bold;
}

.assignmentsList ul {
    width: 95%;
}

.assignmentsList ul li {
    margin-bottom: 5px;
}

.assignment {
    background: #FFFFFF;
    padding: 12px 6px 12px 10px;
    font: 16px robotico, sans-serif;
    color: #2D3B45;
}

.assignTitle {
    cursor: pointer;
    color: #4367ff;
    font-size: 22px;
    font-weight: bold;
    display: inline-block;
}

.assignDate {
    display: inline-block;
    margin-left: 10px;
}

.assignDescription {
    margin-top: 10px;
}

.studentSubmissionPane {
    margin-top: 50px;
    margin-left: 160px;
    height: calc(100% - 80px);
    width: calc(100% - 160px);
    overflow: scroll;
}
