#studentView header {
    width: 100%;
    height: 50px;
}

#studentView .node-search {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 50px;
    left: 0;
    overflow-x: hidden;
    padding-top: 20px;
}

#studentView .tab-switcher {
    margin-left: 160px;
    height: 100%;
}

#studentView .view {
    height: 100%;
    display: none;
}

#studentView .view.active {
    display: block;
}

#date {
    width: 300px;
    height: 50px;
    display: inline-block;
}

#account-icon {
    width: 200px;
    height: 50px;
    display: inline-block;
}

#account-icon img {
    width: 25px;
    height: 25px;
}

/*Kept for later*/
/*.addition-node {*/
/*    background-color: aqua;*/
/*    width: 100px;*/
/*    height: 50px;*/
/*    border-radius: 10px;*/
/*    text-align: center;*/
/*    align-content: center;*/
/*}*/

/*.addition-node:hover {*/
/*    cursor: pointer;*/
/*    border: aquamarine solid 3px;*/
/*}*/

/*.addition-node p {*/
/*    text-align: center;*/
/*    color: black;*/
/*    display: inline-block;*/
/*}*/

/*.addition-node input {*/
/*    margin: 5px;*/
/*    display: inline-block;*/
/*    width: 20px;*/
/*}*/
