header {
    height: 50px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.7)
}

#account-icon {
    width: 200px;
    height: 50px;
    display: inline-block;
    float: right;
    position: relative;
}

#account-icon img {
    width: 25px;
    height: 25px;
}

#logout {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    transform: translateY(-2em);
    z-index: -1;
    transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
    background-color: rgba(0, 0, 0, .6);
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
}

#account-icon:hover #logout {
    visibility: visible;
    opacity: 1;
    z-index: 1;
    transform: translateY(0%);
    transition-delay: 0s, 0s, 0.3s;
}

#account-username-display {
    position: absolute;
    bottom: 2px;
    left: 30px;
}

#account-icon img {
    width: 25px;
    height: 25px;
    position: absolute;
    bottom: 2px;
}

#logout span {
    margin-left: 30px;
    padding: 5px;
}

#logout span:hover {
    background-color: #818bff;
    color: darkblue;
}

.GenericDashboard .LeftPane {
    height: calc(100% - 70px);
    width: 160px;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    margin-top: 50px;
    background-color: rgba(255,255,255,.8);
}

.GenericDashboard .LeftPane *{
    margin: 2px;
}

.GenericDashboard .MainPane {
    margin-left: 160px;
    height: calc(100% - 80px);
    width: calc(100% - 160px);
}
