.ListView ul li {
    display: inline-block;
    border-bottom-style: dashed;
    border-top-style: dashed;
    border-left-style: solid;
    border-right-style: solid;
    border-width: medium;
    border-color: black;
    margin: 0px;
    padding: 10px;
    width: 100%;
}
.ListView ul li:last-child {
    border-bottom-style: solid;
}
.ListView ul li:first-child {
    border-top-style: solid;
    width: 100%;
    height: 100%;
}
.ListView ul {
    display: inline-block;
    width: calc(100% - 35px);
}
