#login{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    margin: auto;
    width: fit-content;
    height: fit-content;
    font-family: "Arial", sans-serif;
}
#login *{
    width: fit-content;
    margin: 0 auto;
}

#login > *{
    display: block;
}

#login h1 {
    margin: 50px auto;
}

#login h2 {
    margin: 10px auto;
}

#login .inputWithLabel {
    margin: 5px auto;
}

#login input{
    margin: 5px 10px;
    border:thin solid;
}

#login #extra *{
    margin: 50px 50px;
}
