.signlog{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    margin: auto;
    width: fit-content;
    height: fit-content;
    background-color: rgba(255,255,255,.7);
    border-radius: 20px;
    padding: 15px;
}
.signlog *{
    width: fit-content;
    margin: 0 auto;
}

.signlog > *{
    display: block;
}

.signlog h1 {
    margin: 50px auto;
}

.signlog h2 {
    margin: 10px auto;
}

.signlog input{
    margin: 5px 10px;
    border:thin solid;
}

.signlog #extra *{
    margin: 50px 50px;
}
