.ScrolledTableBox{
    display: block;
    margin: 10px;
    overflow: hidden;
}

.ScrolledTableBox{
    height: 44%;
    width: auto;
    border: medium solid;
}

.ScrolledTableBox .ScrollingBox{
    height: 80%;
    width: auto;
    overflow-y: scroll;
    display: block;
}

.ScrolledTableBox .ScrollingBox table{
    table-layout: fixed;
    width: 100%;
    border: medium solid;
}

.ScrolledTableBox table {
    width: calc(100% - 15px);
    border: medium solid;
    table-layout: fixed;
}

.ScrolledTableBox * tr {
    border-bottom-style: dashed;
    border-width: medium;
}

.ScrolledTableBox * th {
    border-left-style: solid;
    border-width: medium;
    padding: 10px;
}

.ScrolledTableBox * td {
    border-left-style: solid;
    border-width: medium;
    padding: 10px;
}

tr:hover {
    border: 1px solid #9abeff;
    cursor: pointer;
}

tr.ScrolledTableColumns:hover {
    border: 3px solid black;
    cursor: pointer;
}
