.ScrolledTableBox{
    display: block;
    margin: 10px;
}

.ScrolledTableBox{
    height: 60%;
    width: auto;
    display: block;
    border: solid;
    border-width: medium;
}

.ScrolledTableBox .ScrollingBox{
    width: 100%;
    overflow: auto;
    display: block;
}

.ScrolledTableBox .ScrollingBox table{
    border: solid;
    width: 100%;
    border-width: medium;
}

.ScrolledTableBox table{
    border: solid;
    width: calc(100% - 14px);
    border-width: medium;
}

.ScrolledTableBox * tr {
    border-bottom-style: dashed;
    border-width: medium;
}

.ScrolledTableBox* th {
    border-left-style: solid;
    border-width: medium;
    padding: 10px;
}

.ScrolledTableBox * td {
    border-left-style: solid;
    border-width: medium;
    padding: 10px;
}

tr:hover {
    border: 3px solid blue;
    cursor: pointer;
}

tr.ScrolledTableColumns:hover {
    border: 3px solid blue;
    cursor: pointer;
}