#studentList {
    width: 160px;
    overflow-x: hidden;
    overflow-y: auto;
    position: absolute;
    border-collapse: collapse;
    border: 1px solid black;
}

td, th {
    height: max-content;
    padding: 10px;
    text-align: center;
    border: 1px solid black;
}

th {
    background-color: #cccccc;
}

.selected {
    border: 3px solid blue;
}

tr:hover {
    border: 3px solid blue;
    cursor: pointer;
}

#createAssignment {
    padding: 25px;
}

#createAssignment * {
    margin: 2px;
}

.createAssignMenu {
    height: 25px;
    padding: 25px;
}

.question {
    padding: 20px;
    border: 1px solid;
}

.question label {
    vertical-align: top;
    border: solid 1px;
    padding: 4px;
}

.question textarea {
    height: 100px;
    width: 650px;
}
