head
    meta(charset='utf-8')
    script(src='./requirements.js')
    script(src='./gui/LoginLogic.js')
    script(src='./gui/onLoad.js')
    script(src='./gui/dragAndDrop.js')
    link(rel='stylesheet' type='text/css' href='gui/styles/CSSReset.css')
    link(rel='stylesheet' type='text/css' href='./gui/styles/GlobalStyles.css')
    link(rel='stylesheet' type='text/css' href='gui/styles/EditorStyle.css')
    link(rel='stylesheet' type='text/css' href='./gui/styles/LoginStyle.css')
    title()

body
    include login.pug
    include studentView.pug

