#studentView(hidden='')
    header
        #date
        #account-icon
            img(src='./gui/img/User.png' alt='User Icon')
            span#account-username-display Welcome, User
            #logout
                span Logout
    .node-search(ondragover='allowDroppingNode(event)' ondrop='deleteNode(event)')
        #search-settings
            input(type='search')
            span.radioGroup
                input#search-current(type='radio' name='search-where' value='Search in current module')
                label(for='search-current') Search Current
            span.radioGroup
                input#search-all(type='radio' name='search-where' value='Search in all modules')
                label(for='search-all') Search All
        #search-results
            button.accordion Numbers
            .panel
                #number.node.number(draggable='true' ondragstart='pickUpNode(event)')
                    input(type='number' onchange='numberListener(this)' value=0)
            button.accordion Arithmetic
            .panel
                #addition.node.arithmetic.addition(draggable='true' ondragstart='pickUpNode(event)')
                    #addLeft.node-container(ondrop='dropNode(event)', ondragover='allowDroppingNode(event)')
                    p
                    #addRight.node-container(ondrop='dropNode(event)', ondragover='allowDroppingNode(event)')
                #subtraction.node.arithmetic.subtraction(draggable='true' ondragstart='pickUpNode(event)')
                    #subLeft.node-container(ondrop='dropNode(event)', ondragover='allowDroppingNode(event)')
                    p
                    #subRight.node-container(ondrop='dropNode(event)', ondragover='allowDroppingNode(event)')
                #multiplication.node.arithmetic.multiplication(draggable='true' ondragstart='pickUpNode(event)')
                    #multiplyLeft.node-container(ondrop='dropNode(event)', ondragover='allowDroppingNode(event)')
                    p
                    #multiplyRight.node-container(ondrop='dropNode(event)', ondragover='allowDroppingNode(event)')
                #division.node.arithmetic.division(draggable='true' ondragstart='pickUpNode(event)')
                    #divideLeft.node-container(ondrop='dropNode(event)', ondragover='allowDroppingNode(event)')
                    p
                    #divideRight.node-container(ondrop='dropNode(event)', ondragover='allowDroppingNode(event)')
            button.accordion Algebraic Equations
            .panel
            button.accordion Graphing
            .panel
    .tab-switcher
        ul
            li.tab
                button Upcoming Assignments
            li.tab
                button Practice Equations
            li.tab
                button View Grades
        #Assignments.view
        .view.active(id='Practice Equations')
            #editorPane.paper(ondrop='dropNode(event)' ondragover='allowDroppingNode(event)')
            #resultPane(hidden='')
        .view(id='View Grades')
