include nodes.pug

#studentView(hidden='')
    header
        #date
        #account-icon
            img(src='./gui/img/User.png' alt='User Icon')
            span#account-username-display Welcome, User
            #logout
                span Logout
    .node-search(ondragover='allowDroppingNode(event)' ondrop='deleteNode(event)')
        #search-settings
            input(type='search')
            span.radioGroup
                input#search-current(type='radio' name='search-where' value='Search in current module')
                label(for='search-current') Search Current
            span.radioGroup
                input#search-all(type='radio' name='search-where' value='Search in all modules')
                label(for='search-all') Search All
        #search-results
            button.accordion Arithmetic
            .panel
                +arithmetic_node('addition')
                +arithmetic_node('subtraction')
                +arithmetic_node('multiplication')
                +arithmetic_node('division')
            button.accordion Algebraic Equations
            .panel
            button.accordion Graphing
            .panel
    .tab-switcher
        ul
            li.tab
                button Upcoming Assignments
            li.tab
                button Practice Equations
            li.tab
                button View Grades
        #Assignments.view
        .view.active(id='Practice Equations')
            #editorPane.paper(ondrop='dropNode(event)' ondragover='allowDroppingNode(event)')
            #resultPane(hidden='')
        .view(id='View Grades')
