include nodes.pug
include NodeSearch.pug

#studentView(hidden='')
    header
        #date
        #account-icon
            img(src='./gui/img/User.png' alt='User Icon')
            span#account-username-display Welcome, User
            #logout
                span Logout
    +node-search
    .tab-switcher
        ul
            li.tab
                button Upcoming Assignments
            li.tab
                button Practice Equations
            li.tab
                button View Grades
        #Assignments.view
        .view.active(id='Practice Equations')
            #editorPane.paper(ondrop='dropNode(event)' ondragover='allowDroppingNode(event)')
            #resultPane(hidden='')
        .view(id='View Grades')
